<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>enz.anqryyn@zr.pbz</string>
	<key>contactName</key>
	<string>Ram Nadella</string>
	<key>description</key>
	<string>Dash integration for TextMate

Use ⌘D to lookup the current word or selection in Dash
Use ^D to lookup the current word or selection in Dash and automatically enable/disable docsets based on your current language scope

Dash: "Dash gives you instant offline access to 80+ API documentation sets" 
[http://kapeli.com/dash]</string>
	<key>name</key>
	<string>DashMate</string>
	<key>uuid</key>
	<string>983C0BAD-5AEF-4E5E-BF0F-FD7D18BEE41B</string>
</dict>
</plist>
